/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    font-size: 18px;
    
}

li {
    list-style: none;
    display: inline-block;
    margin-left: 20px; 

}

li a {
    text-decoration: none;
    color: #6b7280;
}

li a:hover {
    color: #5A67D8;
}

.overview-hero {
    background-color: #E2E8F0;
    padding: 30px;
}

.overview-hero .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.overview-hero-image img {
    height: 200px;
    width: 220px;
    border-radius: 5px;
    margin-left: 50px;
}

.learn-about .cards {
    display: grid;
    grid-template-columns: repeat(3, 310px);
    gap: 20px;
    justify-content: center;
    
}

.learn-about h2 { 
    font-size: 24px;
    color: #48BB78;
}

.learn-about .cards .card {
    border: 2px solid #E2E8F0;
    border-radius: 5px;
    box-shadow: 2px 2px 2px gray;
    padding: 10px;
}

.card h3 {
    font-size: 21px;
    color: #48BB78;

}

.card img {
    height: 200px;
    width: 280px;
    border-radius: 5px;
}

.testing {
    background-color: #4A5568;
    color: white;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 100px;  
}

.testing .container {
    display: flex;
    align-items: center;
    padding: 60px;
}

.testing .testing-description {
    max-width: 700px;
    flex: 1; 
}


.testing .btn {
    background-color: #48BB78;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
}

.testing .btn:hover {
    background-color: #329259;
}

.stories article {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 100px;
}

.stories img {
    height: 200px;
    width: 200px;
    border-radius: 300px;

}

.stories h2, a {
    color: #5A67D8;
    text-decoration: none;
}

.stories h3{
    font-size: 18px;
}

.newsletter {
    background-color: #48BB78;
    color: white;  
}

.newsletter .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.newsletter form {
    display: flex;
    gap: 10px;
}

.newsletter p {
    max-width: 450px;
    margin-top: 0px;
}

.newsletter #email {
    padding: 15px 130px 15px 10px;
    border: none;
    border-radius: 5px;
}

.newsletter .btn {
    background-color: #5A67D8;
    color: white;
    border: none;
    padding: 15px 40px;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #4A5568;
    color: white;
    padding: 10px;
    
}


