/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

header .container {
    display: flex;
    justify-content: space-between;
    background-color: white;
    font-size: 18px;
    
}

li {
    list-style: none;
    display: inline-block;
    margin-left: 20px; 

}

li a {
    text-decoration: none;
    color: #6b7280;
}

li a:hover {
    color: #5A67D8;
}

.overview-hero {
    background-color: #E2E8F0;
    padding: 30px;
}

.learn-about .cards {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 20px;
    justify-content: center;
    
}

.learn-about h2 { 
    font-size: 24px;
    color: #48BB78;
    margin-left: 160px;
}

.learn-about .cards .card {
    border: 2px solid #E2E8F0;
    border-radius: 5px;
    box-shadow: 2px 2px 2px gray;
    padding: 10px;
}

.card h3 {
    font-size: 21px;
    color: #48BB78;

}

.testing {
    display: flex;
    background-color: #4A5568;
    color: white;
    padding: 30px;
    margin-top: 10px;  
}

.testing .testing-description {
   flex: 1;
    
}


.testing .btn {
    background-color: #48BB78;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
}

.stories h2, a {
    color: #5A67D8;
    text-decoration: none;
}

.stories h3{
    font-size: 18px;
}

.newsletter {
    background-color: #48BB78;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
   
}

.newsletter .btn {
    background-color: #5A67D8;
    color: white;
}

footer {
    background-color: #4A5568;
    color: white;
    padding: 10px;
    text-indent: 100px;
    
}


